In [1]:
def sum(a,b):
    print(a+b)
sum(10,20)

30

In [2]:
def student(name,roll_no,place,age):
    print("my name is: ",name)
    print("my roll_no is: ",roll_no)
    print("my place is: ",place)
    print("my age is: ",age)
#    print(name,roll_no,place,age)
student("abhijith",1,"kannur",20)

my name is:  abhijith
my roll_no is:  1
my place is:  kannur
my age is:  20

In [3]:
def customer(name,id_num,designation,place):
    print("my name is: ",name)
    print("my id_num is: ",id_num)
    print("my designation: ",designation)
    print("my place is: ",place)
a=input("enter your name ")
b=int(input("enter your id num"))
c=input("enter your designation  ")
d=input("enter your place")
customer(a,b,c,d)

enter your name abhijith
enter your id num1
enter your designation  bba
enter your placekannur
my name is:  abhijith
my id_num is:  1
my designation:  bba
my place is:  kannur

In [4]:
def kannur():
    a=90
    print(a)
a=80
kannur()
print(a)

90
80

In [5]:
def jupiter(place,name,id_num):
    print("my place is:",place)
    print("my name is:",name)
    print("my id_num:",id_num)
    b=90
    c=80
    d=70
    print(b,c,d)
b=40
c=50
d=30
o=input("enter your place")
p=input("enter your name")
q=int(input("enter your id_num"))
jupiter(o,p,q)
print(b,c,d)

enter your placekannur
enter your nameabhijith
enter your id_num1
my place is: kannur
my name is: abhijith
my id_num: 1
90 80 70
40 50 30

In [6]:
def world():
    '''to print a variable'''
    e=90
    print(e)
e=60
world()
print(e)

90
60

In [7]:
def wish(name,greet="good morning"):
    print("hello", name + ',' + greet)
wish("aman")
wish("'abhijith","good night")

hello aman,good morning
hello 'abhijith,good night

In [8]:
def write(name,state,age=21,place="kannur"):
    print("i am",name)
    print("my state is",state)
    print("my age is",age)
    print("i am coming from",place)
# write("abhijith","kerala")
# write("abhijith","kerala",60)
write("abhijith","karnataka",70)
# write("abhijith","kerala",40,"kannur")

i am abhijith
my state is karnataka
my age is 70
i am coming from kannur

In [9]:
def calculation(c,d):
    print(c+d)
    print(c*d)
calculation(10,15)

25
150

In [10]:
def employee(name,salary=20000):
    print("my name is",name)
    print("my salary is",salary)
employee("abhijith",80000)

my name is abhijith
my salary is 80000

In [11]:
def road(car,bike="GT650"):
    print("my car is",car)
    print("my bike is",bike)
road("mustang GT")    
road("BMW","RR310")
road(car="polo",bike="GS310")
road(bike="RC390",car="BENZ")
road("swift",bike="himalayan")

my car is mustang GT
my bike is GT650
my car is BMW
my bike is RR310
my car is polo
my bike is GS310
my car is BENZ
my bike is RC390
my car is swift
my bike is himalayan

In [12]:
g=lambda h:h*2
print(g(11))

22

In [13]:
a=[5,8,9,3,1,2,4,6,7,10]
b=list(filter(lambda o:(o%2==0),a))
print(b)

[8, 2, 4, 6, 10]

In [14]:
e=[1,2,3,4,5,6,7,8]
f=list(map(lambda g:g*2,e))
print(f)

[2, 4, 6, 8, 10, 12, 14, 16]

In [15]:
x=44
def student(name,department,id_num=88):
    x=90
    print(x)
    print("my name is" ,name)
    print("my department is", department)
    print("my id_num is", id_num)
student("abhijith","bba",70)
print(x)

90
my name is abhijith
my department is bba
my id_num is 70
44

In [16]:
import  math
print (math.pi)

3.141592653589793

In [17]:
import math as m
print(m.pi)

3.141592653589793

In [18]:
from math import pi
print(pi)

3.141592653589793

In [19]:
from math import *
print(pi)

3.141592653589793

In [20]:
def add():
    a=int(input())
    b=int(input())
    print(a+b)
add()

40
60
100

In [21]:
def add(a,b):
    print(a+b)
a=int(input())
b=int(input())
add(a,b)

50
50
100

In [22]:
def circle(pi=3.14):
    r=int(input())
    area=(pi*r*r)
    print("area of cirlce=",area)
circle()

5
area of cirlce= 78.5

In [23]:
def power(k,g):
    a=(k**g)
    print(a)
p=int(input("enter a number")) 
okey=int(input("enter power"))
power(p,okey)

enter a number5
enter power2
25

In [24]:
def triangle(half=1/2):
    print(half*b*h)
b=int(input("enter a number"))
h=int(input("enter a number"))
triangle()

enter a number9
enter a number8
36.0